@font-face {
    font-family: Oswald;
    src: url(../font/Oswald/Oswald-VariableFont_wght.ttf);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(
        135deg,
        rgba(33, 0, 142, 0.811) 15%,
        rgba(2, 7, 57, 0.858) 20%,
        rgb(0, 0, 0) 25%
      );
    color: rgba(230, 230, 230, 0.957) !important;
}

h1{
    font-family: Oswald;
    color: white !important;
}

h1 b{
    background: -webkit-linear-gradient(left, #0079cf, #00fac4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#overhead{
    padding: 3%;
}

#overhead h4{
    padding-left: 5%;
}